* {
    margin: 0;
    user-select: none;

}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #A7CBCD;
}

.contenido {
    display: flex;

    flex-direction: column;
    width: 80%;
    height: 100%;

}

.encabezado,
main {
    display: flex;
    flex-direction: column;

}

.logo {
    margin: 0 auto;
    margin-top: 100px;
    width: 200px;
}

.titulo {
    margin-top: 20px;
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    color: #10495C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.to {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitulo {
    margin: 0 auto;

    width: 80%;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.descripcion {

    width: 60%;
    margin: 0 auto;
    margin-top: 300px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;

    text-align: center;

    color: #10495C;
}



.container {
    display: flex;
    margin-top: 0 auto;
    width: 100%;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;

}

.input{
    margin-top: 15px;
    width: 100%;
    height: 48px;
    
}

.input1{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border: none;
    background-color: #FFF7EC;
    text-indent: 15px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
}

::placeholder{
    color:#10495C;
}

.texto{
    margin-top: 15px;
    width: 30%;
    height: 20px;
    align-content: flex-start;
    text-align: center;
    color: #10495C;
}

.button{
    margin-top: 15px;
    width: 45%;
    height: 39px;
}

#button1{
 width: 100%;
 height: 100%;
 border-radius: 50px;
 border: none;
 background-color: #D08D49;
 color: white; 
 font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
}


@media(max-width:700px) {


    .logo {
        margin-top: 40px;
        width: 120px;
    }



    .titulo {
        font-size: 40px;
    }

    .to {
        font-size: 15px;
    }

    .subtitulo {
        width: 100%;
        font-size: 30px;

    }

    .descripcion {
        margin-top: 30px;
        font-size: 20px;
        width: 100%;
    }

    .container {
        margin-top: 50px;
    }

}