body{
    width: 100%;
}
.banner{
   width: 100%;
}

main{
  

    width: 100%;
 
    display: flex;
    flex-direction: column;
}
.imagenes{
    width: 100%;
    text-align: left;
}
.textos{
    text-align: right;

    width: 100%;
    font-family: Nunito;
font-style: normal;
font-size: 150%;
}

.textos p {
   
    margin-left: 20%;
    margin-right: 10%;
}

footer{
    width: 100%;

}

.backbaner{
    position: absolute;
    width: 100%;
}

.back{
    width: 10%;
    position: absolute;
 margin-top: 15%;
 margin-left: 20%;
}

.next{
    width: 40%;
    position: absolute;
 margin-top: 13%;
 margin-left: 50%;
}

.linea{
margin-left:10%;
    height: 150%;
position: absolute;
z-index: -1;
}
.linea1{
    margin-left:10%;
        height: 158%;
    position: absolute;
    z-index: -1;
    }
    .lineat1{
        margin-left:10%;
            height: 140%;
        position: absolute;
        z-index: -1;
        }
        .lineat2{
            margin-left:10%;
                height: 162%;
            position: absolute;
            z-index: -1;
            }
         